<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pokemon</title>
</head>
<body>
    <h1>Create a New Pokemon</h1>
    
    <form action="/pokemon" method="POST">
        Name: <input type="text" name="name">
        Id: <input type="text" name="id">
        Type: <input type="text" name="type" >
        Hp: <input type="text" name="stats[hp]" id="">
        Attack: <input type="text" name="stats[attack]" id="">
        Defense: <input type="text" name="stats[defense]" id="">
        <input type="hidden" name="img" value = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC6tzP3-uGuYGm_FD3A0zIhyNEsytM4zpWdVtyRKNwpmck5QfyetlPshFHZpV8tB9m7fc&usqp=CAU">
        <input type="submit" value="Create Pokemon"/>
    </form>

  

</body>
</html>